<div *ngIf="!campaign">
  <h1 id="tableLabel">My Campaigns</h1>

  <p *ngIf="!forecasts"><em>Loading...</em></p>
  <div *ngFor="let forecast of forecasts" class="campaignList">
    <div class="card">
      <button (click)="deleteCampaign(forecast.id)" class="deleteCampaign">
        X
      </button>
      <button (click)="editCampaign(forecast.id)" class="editCampaign">
        Edit Name
      </button>
      <button class="selectCampaign" (click)="setCampaign(forecast)">
        {{ forecast.name }}
      </button>
    </div>
  </div>
  <div class="card addCampaign" (click)="onClickMe()">Add Campaign</div>
</div>
<div *ngIf="campaign" class="container">
  <h1>{{ campaign.name }}</h1>
  <span class="row">
    <div class="btn-group col-6 row" role="group">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Characters
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let character of characters">
            <button
              *ngIf="!filter.includes(character)"
              class="dropdown-item"
              (click)="addToFilter(character)"
            >
              {{ character.name }}
            </button>
          </div>
        </div>
      </div>
      <button class="btn btn-dark">+</button>

      <div class="btn-group col-6" role="group">
        <button class="btn btn-info">Status</button>
        <button class="btn btn-info">+</button>
      </div>
    </div>
  </span>
  <div class="row col-12">
    <div *ngFor="let character of filter" class="text-center outline">
      <div>
        {{ character.name }}
      </div>
      <button class="btn btn-danger" (click)="removeFromFilter(character)">
        x
      </button>
    </div>
  </div>
  <button class="btn btn-success" (click)="addPlotLine(campaign)">
    Add Plotline
  </button>
  <table class="table table-striped table-bordered table-dark">
    <thead>
      <tr>
        <th>Title</th>
        <th>Details</th>
        <th>Status</th>
        <th>Characters</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plotline of filteredPlot">
        <td>{{ plotline.title }}</td>
        <td>{{ plotline.details }}</td>
        <td>{{ plotline.status }}</td>
        <td>
          <div *ngIf="!plotline.characters[0]">N/A</div>
          <div *ngFor="let character of plotline.characters">
            {{ character.name }}
            <button
              class="btn btn-dark"
              (click)="removeCharacterFromPlot(character, plotline)"
            >
              x
            </button>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="addToPlot"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              +
            </button>
            <div class="dropdown-menu" aria-labelledby="addToPlot">
              <div *ngFor="let character of characters">
                <button
                  *ngIf="!includesCharacter(plotline, character)"
                  class="dropdown-item"
                  (click)="addCharacterToPlot(character, plotline)"
                >
                  {{ character.name }}
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
