<div >
  <h1 id="tableLabel">My Items</h1>
  <button class="btn btn-success" (click)="AddItemSwal()">Add Item</button>
  <table *ngIf="items[0]" class="table table-striped table-bordered table-dark">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Rarity</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td>{{ItemReader(item.rarity)}}</td>
          <td>{{ item.cost }}</td>
          <td><button class = "btn btn-danger" (click)='DeleteItemSwal(item.id)'>Delete Item</button></td>
        </tr>
      </tbody>
    </table>
</div>
